*{
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}
body{
  background-color: rgb(255, 255, 255);
  
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc; /* حدود العنصر */
  border-color: #63aeffbe; /* تغيير لون الحدود عند التركيز */
  box-shadow: 0px 1px 0px rgba(46, 147, 255, 0.11); /* ظل للعنصر عند التركيز */
  margin-bottom: 10px;
}

.navbar-icon img {
  width: 30px; /* Adjust the width and height as needed for your icon */
  height: 30px;
}

h1{
  text-align: center;
}
.input {
  display: block;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 6px; /* تباعد داخلي للنص داخل العنصر */
  font-size: 16px; /* حجم الخط للنص داخل العنصر */
  color: #333; /* لون النص داخل العنصر */
  border: 1px solid #ccc; /* حدود العنصر */
  border-radius: 5px; /* نصف قطر الزوايا للعنصر (لتظهر الزوايا مدورة) */
  background-color: #ffffff; /* لون خلفية العنصر */
}

/* لتغيير التنسيق عندما يكون العنصر في حالة التركيز (عندما يتم اختياره) */
.input:focus {
  outline: none; /* لإزالة التأطير الافتراضي عندما يكون العنصر محددًا */
  border-color: #007bff; /* تغيير لون الحدود عند التركيز */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* ظل للعنصر عند التركيز */
}

/* استهداف العنصر div بواسطة الفئة .task */
.task {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff; /* لون خلفية العنصر */
  padding: 10px 3px; /* تباعد داخلي للعنصر */
  border: 1px solid #ccc; /* حدود العنصر */
  border-radius: 3px; /* نصف قطر الزوايا للعنصر (لتظهر الزوايا مدورة) */
  display: flex;
  justify-content: space-between;
}

/* استهداف الفقرة داخل العنصر div */
.task p {
  font-size: 18px; /* حجم الخط للنص داخل الفقرة */
  color: #333; /* لون النص داخل الفقرة */
  margin: 0; /* إزالة الهوامش الخارجية للفقرة لتقريبها من حواف العنصر */
}

.left-icon,.right-icon{
  padding: 5px 10px;
}
.icons{
  font-size: 22px;
}
.icons:hover{
  font-size: 23px;
  transition: 0.2s;
}